<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

header{
    background-color:#027387;
    height: 100px;
    color: white;
    /* width: 100%; */
}
.head-inner-container{
    width: 100%;
    justify-content: end;
    display: flex;
}

.header-options{
    margin-right: 60px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}



.header-container{
    display: flex;
    align-items: center;
}

.icon{
    height: 80px;
}

.design{
    background-image: url(./assests/stater_bg.png);
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed;  */
    /* background-size: 100% 100%; */
    /* background-repeat: repeat-x; Only repeat horizontally */
    animation: moveRight 10s linear infinite;
    width: 100%;
    height: 100vh;
}
@keyframes moveRight {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}

.profile-font{
    font-family: "Alice", serif;
    font-weight: bold;
    font-style: normal;
    color: #ceeffe;
    font-size: 79px;
}

.container{
    display: grid;
    grid-template-columns: 500px 600px;
}

.design-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-img{
    width: 400px;
    height: 500px;
    border-radius: 50%;
    grid-row: 2 span;
}

.landing{
    background-color: #0097b2;
    height: 100vh;
    width: 100%;
}

.edu-page{
    background-image: url(./assests/back_book.jpg);
    background-position:center ;
    background-repeat: no-repeat;
    background-size:cover;
    color: #ceeffe;
    height: 100vh;
    width: 100%;
}

.edu-head{
    font: 350px bold;
    margin-left: 40px;
}

.edu-text{
    font: 40px bold;
    margin-left: 40px;
}


.skill-page{
    background-image: url(./assests/skill-background.png);
    background-position:center ;
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
    width: 100%;
    color: #ceeffe;
}

.skill-head{
    font-size: 300px;
    grid-column: span 2;
}
.skill-page-arrange{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 304.8px 424.8px;
}

.skill-container{
    height: 100vh;
    display: flex;
    justify-content: center;

    grid-column: span 2;
}

.skill-data{
    font-size: 40px;
}
.skill-img{
    margin-left: 100px;
}
.contact-page{
    background-color: #ceeffe;
    height: 100vh;
    width: 100%;
}

.grid-skill{
    display: grid;
    grid-template-columns: 379.8px 379.8px;
    grid-template-rows: 182.4px 182.4px;
}
.skill-text{
    margin-top: 80px;
    margin-left: 20px;
    grid-column: span 2;
}

.contact-page{
    background-image: url(./assests/paint-bg.png),url(./assests/skill-background.png);
    background-repeat: no-repeat,no-repeat;
    background-position: center;
    background-size: contain,cover;
}
.send-off{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.btn{
    color: black;
    text-decoration: none;
    font-size: 25px;
    background-color: rgb(255, 196, 0);
    border: none;
    padding: 10px;
    border-radius: 15%;
}

.btn:hover{
    background-color: rgb(183, 128, 0);
    transform: scale(1.02);
}

.foot{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    
}

.icons-arrange{
    display: flex;
    justify-content: space-evenly;
    width: 25%;
    margin-bottom: 15px;
}

.icons{
    font-size: 30px;
    
}
.icons:hover{
    cursor: pointer;
}

.fa-linkedin{
    color: #0072b1;
}


.foot p{
    color: #ceeffe;
    font-size: 17px;
}


.fa-twitter{
    color: #00acee;
}

.fa-github-alt{
    color: #151111;
}

footer{
    background-color: #015d6d;
    width: 100%;
    height: 300px;
}

/* Keyframes */
@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
/*  */



@media (max-width: 1200px) {  
    .container{
        display: grid;
        grid-template-columns: 1fr;
    }
    .profile-img{ 
        margin-top: 40px;
        margin-left: 200px;
        width: 300px;
        height: 400px;
    }  

    .profile-font{
        font-size: 60px;
    }
}


@media (max-width: 500px) {  
    .contact-page, .design, .edu-page, .landing, .skill-page, .head-inner-container, header, footer{
        width: 100vh;
    }
    .container{
        display: grid;
        grid-template-columns: 1fr;
    }
    .profile-img{ 

        width: 200px;
        height: 300px;
    }  
    .profile-font{
        font-size: 50px;
    }
}

=======
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

header{
    background-color:#027387;
    height: 100px;
    color: white;
    /* width: 100%; */
}
.head-inner-container{
    width: 100%;
    justify-content: end;
    display: flex;
}

.header-options{
    margin-right: 60px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}



.header-container{
    display: flex;
    align-items: center;
}

.icon{
    height: 80px;
}

.design{
    background-image: url(./assests/stater_bg.png);
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed;  */
    /* background-size: 100% 100%; */
    /* background-repeat: repeat-x; Only repeat horizontally */
    animation: moveRight 10s linear infinite;
    width: 100%;
    height: 100vh;
}
@keyframes moveRight {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}

.profile-font{
    font-family: "Alice", serif;
    font-weight: bold;
    font-style: normal;
    color: #ceeffe;
    font-size: 79px;
}

.container{
    display: grid;
    grid-template-columns: 500px 600px;
}

.design-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-img{
    width: 400px;
    height: 500px;
    border-radius: 50%;
    grid-row: 2 span;
}

.landing{
    background-color: #0097b2;
    height: 100vh;
    width: 100%;
}

.edu-page{
    background-image: url(./assests/back_book.jpg);
    background-position:center ;
    background-repeat: no-repeat;
    background-size:cover;
    color: #ceeffe;
    height: 100vh;
    width: 100%;
}

.edu-head{
    font: 350px bold;
    margin-left: 40px;
}

.edu-text{
    font: 40px bold;
    margin-left: 40px;
}


.skill-page{
    background-image: url(./assests/skill-background.png);
    background-position:center ;
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
    width: 100%;
    color: #ceeffe;
}

.skill-head{
    font-size: 300px;
    grid-column: span 2;
}
.skill-page-arrange{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 304.8px 424.8px;
}

.skill-container{
    height: 100vh;
    display: flex;
    justify-content: center;

    grid-column: span 2;
}

.skill-data{
    font-size: 40px;
}
.skill-img{
    margin-left: 100px;
}
.contact-page{
    background-color: #ceeffe;
    height: 100vh;
    width: 100%;
}

.grid-skill{
    display: grid;
    grid-template-columns: 379.8px 379.8px;
    grid-template-rows: 182.4px 182.4px;
}
.skill-text{
    margin-top: 80px;
    margin-left: 20px;
    grid-column: span 2;
}

.contact-page{
    background-image: url(./assests/paint-bg.png),url(./assests/skill-background.png);
    background-repeat: no-repeat,no-repeat;
    background-position: center;
    background-size: contain,cover;
}
.send-off{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.btn{
    color: black;
    text-decoration: none;
    font-size: 25px;
    background-color: rgb(255, 196, 0);
    border: none;
    padding: 10px;
    border-radius: 15%;
}

.btn:hover{
    background-color: rgb(183, 128, 0);
    transform: scale(1.02);
}

.foot{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    
}

.icons-arrange{
    display: flex;
    justify-content: space-evenly;
    width: 25%;
    margin-bottom: 15px;
}

.icons{
    font-size: 30px;
    
}
.icons:hover{
    cursor: pointer;
}

.fa-linkedin{
    color: #0072b1;
}


.foot p{
    color: #ceeffe;
    font-size: 17px;
}


.fa-twitter{
    color: #00acee;
}

.fa-github-alt{
    color: #151111;
}

footer{
    background-color: #015d6d;
    width: 100%;
    height: 300px;
}

/* Keyframes */
@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
/*  */



@media (max-width: 1200px) {  
    .container{
        display: grid;
        grid-template-columns: 1fr;
    }
    .profile-img{ 
        margin-top: 40px;
        margin-left: 200px;
        width: 300px;
        height: 400px;
    }  

    .profile-font{
        font-size: 60px;
    }
}


@media (max-width: 500px) {  
    .contact-page, .design, .edu-page, .landing, .skill-page, .head-inner-container, header, footer{
        width: 100vh;
    }
    .container{
        display: grid;
        grid-template-columns: 1fr;
    }
    .profile-img{ 

        width: 200px;
        height: 300px;
    }  
    .profile-font{
        font-size: 50px;
    }
}

>>>>>>> 83319ee2d1aceae1ef003665d5c29948c0bbfee6
